--
-- PostgreSQL database dump
--

\restrict cVTBLaz4BMC3Kah9uLdM1RLBqM1Qefzibidjtw1bcX0JW7J8sayrKPzfUWk3ezr

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."Product" DROP CONSTRAINT IF EXISTS "Product_categoryId_fkey";
ALTER TABLE IF EXISTS ONLY public."ProductTag" DROP CONSTRAINT IF EXISTS "ProductTag_tagId_fkey";
ALTER TABLE IF EXISTS ONLY public."ProductTag" DROP CONSTRAINT IF EXISTS "ProductTag_productId_fkey";
ALTER TABLE IF EXISTS ONLY public."ProductImage" DROP CONSTRAINT IF EXISTS "ProductImage_productId_fkey";
ALTER TABLE IF EXISTS ONLY public."ProductExtra" DROP CONSTRAINT IF EXISTS "ProductExtra_productId_fkey";
ALTER TABLE IF EXISTS ONLY public."PriceTier" DROP CONSTRAINT IF EXISTS "PriceTier_productId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItem" DROP CONSTRAINT IF EXISTS "OrderItem_productId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItem" DROP CONSTRAINT IF EXISTS "OrderItem_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public."CustomField" DROP CONSTRAINT IF EXISTS "CustomField_productId_fkey";
DROP INDEX IF EXISTS public."Tag_slug_key";
DROP INDEX IF EXISTS public."Product_slug_key";
DROP INDEX IF EXISTS public."Product_sku_key";
DROP INDEX IF EXISTS public."Order_code_key";
DROP INDEX IF EXISTS public."Category_slug_key";
DROP INDEX IF EXISTS public."AdminUser_email_key";
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
ALTER TABLE IF EXISTS ONLY public."Tag" DROP CONSTRAINT IF EXISTS "Tag_pkey";
ALTER TABLE IF EXISTS ONLY public."SiteSettings" DROP CONSTRAINT IF EXISTS "SiteSettings_pkey";
ALTER TABLE IF EXISTS ONLY public."Product" DROP CONSTRAINT IF EXISTS "Product_pkey";
ALTER TABLE IF EXISTS ONLY public."ProductTag" DROP CONSTRAINT IF EXISTS "ProductTag_pkey";
ALTER TABLE IF EXISTS ONLY public."ProductImage" DROP CONSTRAINT IF EXISTS "ProductImage_pkey";
ALTER TABLE IF EXISTS ONLY public."ProductExtra" DROP CONSTRAINT IF EXISTS "ProductExtra_pkey";
ALTER TABLE IF EXISTS ONLY public."PriceTier" DROP CONSTRAINT IF EXISTS "PriceTier_pkey";
ALTER TABLE IF EXISTS ONLY public."Order" DROP CONSTRAINT IF EXISTS "Order_pkey";
ALTER TABLE IF EXISTS ONLY public."OrderItem" DROP CONSTRAINT IF EXISTS "OrderItem_pkey";
ALTER TABLE IF EXISTS ONLY public."CustomField" DROP CONSTRAINT IF EXISTS "CustomField_pkey";
ALTER TABLE IF EXISTS ONLY public."Category" DROP CONSTRAINT IF EXISTS "Category_pkey";
ALTER TABLE IF EXISTS ONLY public."AdminUser" DROP CONSTRAINT IF EXISTS "AdminUser_pkey";
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TABLE IF EXISTS public."Tag";
DROP TABLE IF EXISTS public."SiteSettings";
DROP TABLE IF EXISTS public."ProductTag";
DROP TABLE IF EXISTS public."ProductImage";
DROP TABLE IF EXISTS public."ProductExtra";
DROP TABLE IF EXISTS public."Product";
DROP TABLE IF EXISTS public."PriceTier";
DROP TABLE IF EXISTS public."OrderItem";
DROP TABLE IF EXISTS public."Order";
DROP TABLE IF EXISTS public."CustomField";
DROP TABLE IF EXISTS public."Category";
DROP TABLE IF EXISTS public."AdminUser";
DROP TYPE IF EXISTS public."OrderStatus";
DROP TYPE IF EXISTS public."CustomFieldType";
--
-- Name: CustomFieldType; Type: TYPE; Schema: public; Owner: artenova
--

CREATE TYPE public."CustomFieldType" AS ENUM (
    'text',
    'date',
    'select',
    'image',
    'note'
);


ALTER TYPE public."CustomFieldType" OWNER TO artenova;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: artenova
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'nuevo',
    'en_proceso',
    'completado',
    'cancelado'
);


ALTER TYPE public."OrderStatus" OWNER TO artenova;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminUser; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."AdminUser" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AdminUser" OWNER TO artenova;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "accentColor" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Category" OWNER TO artenova;

--
-- Name: CustomField; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."CustomField" (
    id text NOT NULL,
    "productId" text NOT NULL,
    label text NOT NULL,
    type public."CustomFieldType" NOT NULL,
    required boolean DEFAULT false NOT NULL,
    options jsonb DEFAULT '[]'::jsonb NOT NULL,
    "helpText" text,
    "position" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CustomField" OWNER TO artenova;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    code text NOT NULL,
    status public."OrderStatus" DEFAULT 'nuevo'::public."OrderStatus" NOT NULL,
    "customerName" text NOT NULL,
    "customerWhatsapp" text NOT NULL,
    "customerNote" text,
    "estimatedTotal" numeric(10,2) NOT NULL,
    "finalPrice" numeric(10,2),
    "adminNote" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Order" OWNER TO artenova;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    "productName" text NOT NULL,
    quantity integer NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    "extrasTotal" numeric(10,2) NOT NULL,
    "lineTotal" numeric(10,2) NOT NULL,
    "selectedExtraIds" jsonb DEFAULT '[]'::jsonb NOT NULL,
    personalization jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO artenova;

--
-- Name: PriceTier; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."PriceTier" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "minQuantity" integer NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    label text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "totalPrice" numeric(10,2)
);


ALTER TABLE public."PriceTier" OWNER TO artenova;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text NOT NULL,
    "basePrice" numeric(10,2) NOT NULL,
    material text,
    size text,
    technique text,
    "isPublished" boolean DEFAULT true NOT NULL,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "categoryId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    sku text,
    "isHero" boolean DEFAULT false NOT NULL,
    "heroSlot" text
);


ALTER TABLE public."Product" OWNER TO artenova;

--
-- Name: ProductExtra; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."ProductExtra" (
    id text NOT NULL,
    "productId" text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    "priceDelta" numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProductExtra" OWNER TO artenova;

--
-- Name: ProductImage; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."ProductImage" (
    id text NOT NULL,
    "productId" text NOT NULL,
    url text NOT NULL,
    alt text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProductImage" OWNER TO artenova;

--
-- Name: ProductTag; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."ProductTag" (
    "productId" text NOT NULL,
    "tagId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProductTag" OWNER TO artenova;

--
-- Name: SiteSettings; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."SiteSettings" (
    id text DEFAULT 'site'::text NOT NULL,
    "brandName" text DEFAULT 'Artenova'::text NOT NULL,
    "heroTitle" text NOT NULL,
    "heroSubtitle" text NOT NULL,
    whatsapp text NOT NULL,
    email text,
    address text NOT NULL,
    "bannerText" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "businessHours" text,
    "mapsUrl" text,
    "personalizationNotice" text
);


ALTER TABLE public."SiteSettings" OWNER TO artenova;

--
-- Name: Tag; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public."Tag" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "accentColor" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Tag" OWNER TO artenova;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: artenova
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO artenova;

--
-- Data for Name: AdminUser; Type: TABLE DATA; Schema: public; Owner: artenova
--

COPY public."AdminUser" (id, email, "passwordHash", "createdAt", "updatedAt") FROM stdin;
cmsai965p00003pk2cqjn7jgm	admin@artenova.local	$2b$12$2R4iBqWghr2YQlxOM5587.vuPzEJkxXO7jgMKW1SqxhoajcH/jdHW	2026-08-01 15:07:18.253	2026-08-01 20:26:12.464
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: artenova
--

COPY public."Category" (id, name, slug, description, "accentColor", "isActive", "createdAt", "updatedAt") FROM stdin;
cmsai967a00013pk2jsxfbqgq	Mascotas	mascotas	Retratos, huellas, llaveros y recuerdos para tu mejor compania.	#b982d9	t	2026-08-01 15:07:18.31	2026-08-01 15:07:18.31
cmsai967h00023pk278mxizs5	Bodas	bodas	Recordatorios personalizados para celebrar y agradecer.	#f07086	t	2026-08-01 15:07:18.317	2026-08-01 15:07:18.317
\.


--
-- Data for Name: CustomField; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: PriceTier; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: ProductExtra; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: ProductImage; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: ProductTag; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: SiteSettings; Type: TABLE DATA; Schema: public; Owner: artenova
--

COPY public."SiteSettings" (id, "brandName", "heroTitle", "heroSubtitle", whatsapp, email, address, "bannerText", "createdAt", "updatedAt", "businessHours", "mapsUrl", "personalizationNotice") FROM stdin;
site	Artenova	Regalos personalizados que guardan historias	Corte y grabado laser para mascotas, bodas y recuerdos hechos con carino.			Panama	Crea tu pedido con precio base y Artenova te contacta para confirmar cada detalle.	2026-08-01 15:07:18.301	2026-08-01 15:07:18.301	\N	\N	\N
\.


--
-- Data for Name: Tag; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: artenova
--



--
-- Name: AdminUser AdminUser_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."AdminUser"
    ADD CONSTRAINT "AdminUser_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: CustomField CustomField_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."CustomField"
    ADD CONSTRAINT "CustomField_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: PriceTier PriceTier_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."PriceTier"
    ADD CONSTRAINT "PriceTier_pkey" PRIMARY KEY (id);


--
-- Name: ProductExtra ProductExtra_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."ProductExtra"
    ADD CONSTRAINT "ProductExtra_pkey" PRIMARY KEY (id);


--
-- Name: ProductImage ProductImage_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."ProductImage"
    ADD CONSTRAINT "ProductImage_pkey" PRIMARY KEY (id);


--
-- Name: ProductTag ProductTag_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."ProductTag"
    ADD CONSTRAINT "ProductTag_pkey" PRIMARY KEY ("productId", "tagId");


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: SiteSettings SiteSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."SiteSettings"
    ADD CONSTRAINT "SiteSettings_pkey" PRIMARY KEY (id);


--
-- Name: Tag Tag_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."Tag"
    ADD CONSTRAINT "Tag_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AdminUser_email_key; Type: INDEX; Schema: public; Owner: artenova
--

CREATE UNIQUE INDEX "AdminUser_email_key" ON public."AdminUser" USING btree (email);


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: artenova
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: Order_code_key; Type: INDEX; Schema: public; Owner: artenova
--

CREATE UNIQUE INDEX "Order_code_key" ON public."Order" USING btree (code);


--
-- Name: Product_sku_key; Type: INDEX; Schema: public; Owner: artenova
--

CREATE UNIQUE INDEX "Product_sku_key" ON public."Product" USING btree (sku);


--
-- Name: Product_slug_key; Type: INDEX; Schema: public; Owner: artenova
--

CREATE UNIQUE INDEX "Product_slug_key" ON public."Product" USING btree (slug);


--
-- Name: Tag_slug_key; Type: INDEX; Schema: public; Owner: artenova
--

CREATE UNIQUE INDEX "Tag_slug_key" ON public."Tag" USING btree (slug);


--
-- Name: CustomField CustomField_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."CustomField"
    ADD CONSTRAINT "CustomField_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PriceTier PriceTier_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."PriceTier"
    ADD CONSTRAINT "PriceTier_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductExtra ProductExtra_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."ProductExtra"
    ADD CONSTRAINT "ProductExtra_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductImage ProductImage_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."ProductImage"
    ADD CONSTRAINT "ProductImage_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductTag ProductTag_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."ProductTag"
    ADD CONSTRAINT "ProductTag_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductTag ProductTag_tagId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."ProductTag"
    ADD CONSTRAINT "ProductTag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES public."Tag"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: artenova
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict cVTBLaz4BMC3Kah9uLdM1RLBqM1Qefzibidjtw1bcX0JW7J8sayrKPzfUWk3ezr

